<div class="container">
<div class="row">
	<div class="col-lg-12">
     <ul class="nav nav-tabs">
	  <li><a ui-sref=".order" ui-sref-opts="{reload: true}" aria-expanded="false">Order portal</a></li>
	  <li><a ui-sref=".item"  aria-expanded="false">Item</a></li>
	  <li><a ui-sref=".menu" aria-expanded="false">Menu</a></li>
	  <li><a ui-sref=".user" ui-sref-opts="{reload: true}" aria-expanded="false">Users</a></li>
	  <li><a ui-sref=".feedback" aria-expanded="false">Feedback</a></li>
	  <li><a ui-sref=".customize" aria-expanded="false">Customize Info</a></li>
	  <li><a ui-sref=".chart" aria-expanded="false">Business Charts</a></li>
  	</ul>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div ui-view>
		</div>
	</div>
</div>
</div>








