<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<h3 class="side-heading">{{sideMenu.name}}</h3>
			<div class="list-group">
				<div data-ng-repeat="subMenu in sideMenu.sub">
					<div class="list-group-item">
						<label class="showPointer" ui-sref-opts="{reload: true}" ui-sref="searchItems({category:subMenu._id, catLevel:1, menuObj:sideMenu})">{{subMenu.name}}</label>
					</div>
					<div class="list-group-item">
						<div class="showPointer" data-ng-repeat="superSubMenu in subMenu.supersub" ui-sref-opts="{reload: true}" ui-sref="searchItems({category:superSubMenu._id,catLevel:2, menuObj:sideMenu})">
							{{superSubMenu.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10">
			<ol class="breadcrumb">
				<li class="active">{{catName}}</li>
				<li ui-sref-opts="{reload: true}" ui-sref="searchItems({category:subCatId,catLevel:1, menuObj:sideMenu})"><a class="showPointer">{{subCatName}}</a></li>
				<li ui-sref-opts="{reload: true}" ui-sref="searchItems({category:supSubCatId,catLevel:2, menuObj:sideMenu})" ng-show="catLevel!=1"><a class="showPointer">{{supSubCatName}}</a></li>
			</ol>
			<div class="row product-info full">
			<!-- Left Starts -->
				<div class="col-sm-5 images-block">
					<a>
						<img src="https://res.cloudinary.com/dylc7fren/image/upload/v1442516903/{{itemObject.imageId}}" alt="Image" class="img-responsive thumbnail" />
					</a>
				</div>
			
				<div class="col-sm-7 product-details">
					<div class="panel-smart">
					
						<h2>{{itemObject.name}}</h2>
					
						<hr />
				
						<ul class="list-unstyled manufacturer">
							<li><span>Brand:</span>{{itemObject.brand}}</li>
							<li><span>Availability:</span><strong class="label label-success">Available</strong></li>
							<li><span>Is offer Available?</span></li>
							
						</ul>
				
						<hr />
						<div class="row">
							<div class="col-sm-6">
								<h4>Price:</h4>
								<h2>{{selectedItemObj.Price}} Rs</h2>
							</div>
							
							<div class="col-sm-6">
								<h4>Available Options</h4>
								<div class="form-group">
									<select class="form-control" ng-init="selectedItemObj=itemObject.amountprice[0]"
	                                     ng-model="selectedItemObj"
	                                     ng-options="amtPrice.Amount for amtPrice in itemObject.amountprice">
		                            </select>
								</div>
							</div>
						</div>
						
						
						<hr />
						
						<div class="row">
							<div class="col-lg-2">
									
									<div class="cart-button button-group">
									
									<button type="button" class="btn btn-cart" ng-click="returnToPreviousPage()">
										Back
										<i class="fa fa-backward"></i>
									</button>									
								</div>
							</div>
							<div ng-hide="isSelected(selectedItemObj)">
								<div class="col-lg-4">
									<div class="cart-button button-group" ng-hide="isSelected(selectedItemObj)">
										<button type="button" class="btn btn-cart" data-ng-click="addToCart(selectedItemObj,selectedItemQntObj,itemObject)">
											Add to cart
											<i class="fa fa-shopping-cart"></i> 
										</button>									
									</div>
									
								</div>
								
								<div class="col-lg-6">
									<div class="form-group">
										<div class="col-sm-3">
										<label class="control-label text-uppercase" for="input-quantity">Qty:</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control"
		                                          ng-init="selectedItemQntObj=quantityList[0]"
		                                          ng-model="selectedItemQntObj"
		                                          ng-options="qnt.quantity for qnt in quantityList">
		                                    </select>
										</div>
									
									
									</div>
								</div>
							</div>
							<div ng-show="isSelected(selectedItemObj)">
								<div class="col-lg-6">
									<div class="input-group"  ng-show="isSelected(selectedItemObj)">
	                                    <span class="input-group-btn">
	                                        <button type="button" class="btn btn-warning btn-number" data-ng-click="counterMinus()"  data-type="minus" data-field="quant[2]">
	                                          <span class="glyphicon glyphicon-minus"></span>
	                                        </button>
	                                    </span>
	                                   <input type="text" name="quant[2]" class="form-control input-number" ng-model="selectedQnt" ng-init="initQnt()" min="1" max="100">
	                                  
	                                    <span class="input-group-btn">
	                                        <button type="button" class="btn btn-success btn-number" data-ng-click="counterPlus()" data-type="plus" data-field="quant[2]">
	                                            <span class="glyphicon glyphicon-plus"></span>
	                                        </button>
	                                    </span>
		                            </div>
	                            </div>
	                            <div class="col-lg-4">
	                            </div>
							</div>
							
						</div>
						
					
						<div class="options">
							
								
							
							
						</div>
					<!-- Available Options Ends -->
					</div>
				</div>
			<!-- Right Ends -->
			</div>
		<!-- Product Info Ends -->	
		<!-- Tabs Starts -->
			<div class="tabs-panel panel-smart">
			<!-- Nav Tabs Starts -->
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab-description">Product Description</a>
					</li>
					
				</ul>
			<!-- Nav Tabs Ends -->
			<!-- Tab Content Starts -->
				<div class="tab-content clearfix">
				<!-- Description Starts -->
					<div class="tab-pane active" id="tab-description">
						{{itemObject.description}}
					</div>
				</div>
			<!-- Tab Content Ends -->
			</div>
		<!-- Tabs Ends -->		
		<!-- Related Products Starts -->
			<div class="product-info-box">
				<h4 class="heading">Products from Same Category</h4>
				<div ng-if="showItemsSameCatPanel">
				<div class="row list-group">
					<div class="col-lg-12">
					<div class="form-group">
						<div>
							<button class="btn btn-default pull-right fa fa-chevron-right" ng-disabled="nextSameCatItemsBtn" data-ng-click="nextItemsSameCat()"></button>
							<button class="btn btn-default pull-right fa fa-chevron-left" ng-disabled="previousSameCatItemsBtn" data-ng-click="previousItemsSameCat()"></button>
						</div>
					</div>
					</div>
			   		<div class="item  col-md-3 col-lg-3" data-ng-repeat="item in itemSameCatShow" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-controller="ShowItemController">
			            <div class="thumbnail">
			          		<img style="width:250px; height:200px" src="https://res.cloudinary.com/dylc7fren/image/upload/v1442516903/{{item.imageId}}" alt="" ng-click="expandItem(item,'getPreSet')"/>
			                <div class="caption">
			                <h4 class="group inner list-group-item-heading" ng-click="expandItem(item,'getPreSet')">{{item.name}}</h4>
			               
			                 <div class="row">
			                      <div class="col-xs-12 col-md-7">
			                         <h4 >{{amount.selected.Price}}  Rs.</h4>  
			                      </div>
			                     
			                      <div class="col-xs-12 col-md-5">
			                           <!-- <select  class="form-control input-sm" ng-change="onChangeAmount()">
			                                                <option data-ng-repeat="amtPrice in item.amountprice">{{amtPrice.Amount}}</option>
			                                     </select> -->
			                                     <select class="form-control input-sm" ng-init="amount.selected=item.amountprice[0]"
			                                          ng-model="amount.selected"
			                                          ng-options="amtPrice.Amount for amtPrice in item.amountprice">
			                                      </select>
			                                     </div>
			                  </div>
			                  <div class="row">
			                      <div class="col-lg-6 col-md-2 col-sm-1">
			                            <button class="btn btn-xs btn-warning">Description</button>
			                      </div>
			                      <div ng-hide="isSelected(amount.selected)">
			                             <div class="col-lg-2 col-md-2 col-sm-1"">
			                               <p>Qty</p> 
			                             </div>
			                             <div class="col-lg-4 col-md-2 col-sm-1">
			                                   <select class="form-control input-sm"
			                                          ng-init="quantity.selected=quantityList[0]"
			                                          ng-model="quantity.selected"
			                                          ng-options="qnt.quantity for qnt in quantityList">
			                                               </select>
			                             </div>
			                      </div>
			                  </div>
			                  <div class="row">
			                     <div class="col-xs-12 col-md-6" ng-hide="isSelected(amount.selected)">
			                                           <button class="btn btn-xs btn-success add-to-cart" data-ng-click="addToCart(amount.selected,quantity.selected,item)">Add to Cart</button>
			                                           
			                      </div>
			                      <div class="input-group"  ng-show="isSelected(amount.selected)">
			                                     <span class="input-group-btn">
			                                         <button type="button" class="btn btn-sm btn-warning btn-number" data-ng-click="counterMinus()"  data-type="minus" data-field="quant[2]">
			                                           <span class="glyphicon glyphicon-minus"></span>
			                                         </button>
			                                     </span>
			                                    <input type="text" name="quant[2]" class="form-control input-sm input-number" ng-model="qnt" ng-init="initQnt()" min="1" max="100">
			                                   
			                                     <span class="input-group-btn">
			                                         <button type="button" class="btn btn-sm btn-success btn-number" data-ng-click="counterPlus()" data-type="plus" data-field="quant[2]">
			                                             <span class="glyphicon glyphicon-plus"></span>
			                                         </button>
			                                     </span>
			                                 </div>
			                  </div>
			                </div>
			             </div>
			        </div>
			      </div>	
				  </div>
				  
				  <div ng-if="!showItemsSameCatPanel">
				      <div class="jumbotron">
				      	<i class="fa fa-frown-o fa-3x"></i>
						<h4 class="hidden-sm hidden-xs">No Other Products Available !!!</h4>
				     </div>
				 </div>
				
			<!-- Products Row Ends -->
			</div>
		<!-- Related Products Ends -->
		
		<!-- Same brand products Starts-->
		 <div class="product-info-box">
				<h4 class="heading">Other Products of Same Brand</h4>
				<div ng-if="showItemsSameBrdPanel">
				<div class="row list-group">
					<div class="col-lg-12">
					<div class="form-group">
						<div>
							<button class="btn btn-default pull-right fa fa-chevron-right" ng-disabled="nextSameBrdItemsBtn" data-ng-click="nextItemsSameBrd()"></button>
							<button class="btn btn-default pull-right fa fa-chevron-left" ng-disabled="previousSameBrdItemsBtn" data-ng-click="previousItemsSameBrd()"></button>
						</div>
					</div>
					</div>
			   		<div class="item  col-md-3 col-lg-3" data-ng-repeat="item in itemSameBrdShow" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-controller="ShowItemController">
			            <div class="thumbnail">
			          		<img style="width:250px; height:200px" src="https://res.cloudinary.com/dylc7fren/image/upload/v1442516903/{{item.imageId}}" alt="" ng-click="expandItem(item,'getPreSet')"/>
			                <div class="caption">
			                <h4 class="group inner list-group-item-heading" ng-click="expandItem(item,'getPreSet')">{{item.name}}</h4>
			               
			                 <div class="row">
			                      <div class="col-xs-12 col-md-7">
			                         <h4 >{{amount.selected.Price}}  Rs.</h4>  
			                      </div>
			                     
			                      <div class="col-xs-12 col-md-5">
			                           <!-- <select  class="form-control input-sm" ng-change="onChangeAmount()">
			                                                <option data-ng-repeat="amtPrice in item.amountprice">{{amtPrice.Amount}}</option>
			                                     </select> -->
			                                     <select class="form-control input-sm" ng-init="amount.selected=item.amountprice[0]"
			                                          ng-model="amount.selected"
			                                          ng-options="amtPrice.Amount for amtPrice in item.amountprice">
			                                      </select>
			                                     </div>
			                  </div>
			                  <div class="row">
			                      <div class="col-lg-6 col-md-2 col-sm-1">
			                            <button class="btn btn-xs btn-warning">Description</button>
			                      </div>
			                      <div ng-hide="isSelected(amount.selected)">
			                             <div class="col-lg-2 col-md-2 col-sm-1"">
			                               <p>Qty</p> 
			                             </div>
			                             <div class="col-lg-4 col-md-2 col-sm-1">
			                                   <select class="form-control input-sm"
			                                          ng-init="quantity.selected=quantityList[0]"
			                                          ng-model="quantity.selected"
			                                          ng-options="qnt.quantity for qnt in quantityList">
			                                               </select>
			                             </div>
			                      </div>
			                  </div>
			                  <div class="row">
			                     <div class="col-xs-12 col-md-6" ng-hide="isSelected(amount.selected)">
			                                           <button class="btn btn-xs btn-success add-to-cart" data-ng-click="addToCart(amount.selected,quantity.selected,item)">Add to Cart</button>
			                                           
			                      </div>
			                      <div class="input-group"  ng-show="isSelected(amount.selected)">
			                                     <span class="input-group-btn">
			                                         <button type="button" class="btn btn-sm btn-warning btn-number" data-ng-click="counterMinus()"  data-type="minus" data-field="quant[2]">
			                                           <span class="glyphicon glyphicon-minus"></span>
			                                         </button>
			                                     </span>
			                                    <input type="text" name="quant[2]" class="form-control input-sm input-number" ng-model="qnt" ng-init="initQnt()" min="1" max="100">
			                                   
			                                     <span class="input-group-btn">
			                                         <button type="button" class="btn btn-sm btn-success btn-number" data-ng-click="counterPlus()" data-type="plus" data-field="quant[2]">
			                                             <span class="glyphicon glyphicon-plus"></span>
			                                         </button>
			                                     </span>
			                                 </div>
			                  </div>
			                </div>
			             </div>
			        </div>
			      </div>
			      </div>
			      <div ng-if="!showItemsSameBrdPanel">
				      <div class="jumbotron">
				      	<i class="fa fa-frown-o fa-3x"></i>
						<h4 class="hidden-sm hidden-xs">No Other Products Available !!!</h4>
				     </div>
				 </div>
			      
		 </div>
			<!-- Same brand products Ends-->
				</div>
			<!-- Primary Content Ends -->
			<!-- Sidebar Starts -->
				
			<!-- Sidebar Ends -->
			</div>
		</div>