<section class="registration-area">
<div class="panel panel-smart">
	<div class="panel-heading">
		<h3 class="panel-title">Password Recovery</h3>
	</div>
	<div class="panel-body">
		<div ng-hide="step1block">
			<form class="form-horizontal" role="form">
				<div class="form-group required">
					<label for="inputEmail" class="col-md-4 control-label">Registered Email</label>
					<div class="col-md-8">
						<input type="text" class="form-control" ng-model="regisEmailId" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-3">
						<button class="btn btn-success btn-sm" data-ng-click="sendRegisteredEmail(regisEmailId)">Send</button>
						<span us-spinner="{radius:38, width:13, length: 21,scale:0.15,left: '80%'}" spinner-key="spinner-pswRecovery"></span>
					</div>
					<div class="col-md-7">
						
					</div>
			   </div>
			</form>
		</div>
		<div ng-hide="step2block">
			<div class="alert alert-dismissible alert-success">
			  	<strong>Your Password has been Reset Successfully!</strong> A temporary password has been sent to your Email Id. Please enter the temporary password to complete this process !!!
			</div>
			<form class="form-horizontal" role="form">
				<div class="form-group required">
					<label for="tempPswdId" class="col-md-4 control-label">Temporary Password</label>
					<div class="col-md-8">
						<input type="password" id="tempPswdId" class="form-control" ng-model="tempPswd" placeholder="Temporary Password">
					</div>
				</div>
				<div class="form-group required">
					<label for="newPswdId" class="col-md-4 control-label">New Password</label>
					<div class="col-md-8">
						<input type="password" id="newPswdId" class="form-control" ng-model="newPswd" placeholder="New Password">
					</div>
				</div>
				<div class="form-group required">
					<label for="confirmNewPswdId" class="col-md-4 control-label">Confirm New Password</label>
					<div class="col-md-8">
						<input type="password" id="confirmNewPswdId" class="form-control" ng-model="confirmNewPswd" placeholder="Confirm New Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-2">
						<button class="btn btn-success btn-sm" data-ng-click="settingNewPassword(tempPswd,newPswd,confirmNewPswd)">Submit</button>
					</div>
					<div class="col-md-8">
						<span></span>
					</div>
			   </div>
			</form>
		</div>
	<!-- Registration Form Starts -->
	</div>
	<div style="color:red">{{pwddRecvrFailMessage}}</div>					
</div>
</section>