<div class="container" ng-controller="AddController">
	<!-- <div class="bs-docs-section" ng-controller="AddController">
		<div class="row">
          <div class="col-lg-12">
           
              <h2 id="forms">Please Login/Sign Up or choose Guest Checkout to complete your order !!!</h2>
            
          </div>
        </div>
        <div class="row" ng-hide="extUserCheckout">
	        <div class="col-lg-3" id="loginSignupUsers">
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body clickedUser" ng-click="extUserCheckout=false;newUserCheckout=true;guestUserCheckout=true">
							<h3>Existing User</h3>
						    <p>Login</p>
						  </div>
						</div>
					</div>
			     </div>
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=true;newUserCheckout=false;guestUserCheckout=true">
						    <h3>New User</h3>
						    <p>SignUp / Register</p>
						  </div>
						</div>
					</div>
			     </div>
			     <div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=true;newUserCheckout=true;guestUserCheckout=false">
						    <h3>Guest Checkout</h3>
						    <p>No Login/SignUp Required</p>
						  </div>
						</div>
					</div>
			     </div>
	        </div>
        	<div class="col-sm-7">
					Registration Block Starts
						<div class="panel panel-smart">
							<div class="panel-heading">
								<h3 class="panel-title">Existing User/ Login</h3>
							</div>
							
			                <div class="msg-block" ng-show="myForm.$error">
							  <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">
							    Passwords don't match.
							  </span>
							</div>
							<div class="panel-body">
							Registration Form Starts
								<form class="form-horizontal" role="form">
								Personal Information Starts
									<div class="form-group required">
										<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="loginEmainId" placeholder="Email">
										</div>
									</div>
									<div class="form-group required">
										<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" ng-model="loginPassword" placeholder="Password">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-3">
											<button class="btn btn-success btn-sm" data-ng-click="login('checkout')">
												Login
											</button>
											<span us-spinner="{radius:38, width:13, length: 21,scale:0.20,left: '80%'}" spinner-key="spinner-login" class="ng-scope"></span>
										</div>
										<div class="col-sm-6">
											
											<a class="showPointer" data-ng-click="forgotPasswordOpen()">Forgot password?</a>
											
										</div>
										
									</div>
								Password Area Ends
								</form>
							Registration Form Starts
							</div>
							<div style="color:red">{{loginFailMessage}}</div>						
						</div>
					Registration Block Ends
					</div>
					<div class="col-lg-2">
				</div>
			</div>
			
			<div class="row" ng-hide="newUserCheckout">
	        <div class="col-lg-3" id="loginSignupUsers">
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=false;newUserCheckout=true;guestUserCheckout=true">
							<h3>Existing User</h3>
						    <p>Login</p>
						  </div>
						</div>
					</div>
			     </div>
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body clickedUser" ng-click="extUserCheckout=true;newUserCheckout=false;guestUserCheckout=true">
						    <h3>New User</h3>
						    <p>SignUp / Register</p>
						  </div>
						</div>
					</div>
			     </div>
			     <div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=true;newUserCheckout=true;guestUserCheckout=false">
						    <h3>Guest Checkout</h3>
						    <p>No Login/SignUp Required</p>
						  </div>
						</div>
					</div>
			     </div>
	        </div>
        	<div class="col-sm-7">
					Registration Block Starts
						<div class="panel panel-smart">
							
							<div class="panel-heading">
								<h3 class="panel-title">New User / SignUp</h3>
							</div>
							<div class="panel-body">
							Registration Form Starts
								<form name="userForm" class="form-horizontal" role="form">
								Personal Information Starts
									<div class="form-group required">
										<label for="inputFname" class="col-sm-3 control-label">Full Name :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.fullName"  placeholder="Full Name">
										</div>
									</div>
									
									<div class="form-group required">
										<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.emailId"  placeholder="Email">
										</div>
									</div>
									
									
									<div class="form-group required">
										<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.mobileNo"  placeholder="Phone">
										</div>
									</div>
									<div class="form-group">
										<label for="inputFax" class="col-sm-3 control-label">Alternate No :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.alternateNo" placeholder="Alternate No">
										</div>
									</div>
								Personal Information Ends
									<h3 class="panel-heading inner">
										Delivery Information
									</h3>
								Delivery Information Starts
									
									<div class="form-group required">
										<label class="col-lg-3 control-label">Address</label>
										<div class="col-lg-9">
											<textarea class="form-control" rows="3" ng-model="userForm.address"></textarea>
											<span class="help-block">Include Flat No, Street, Area, City, Pin code and Landmark</span>
										</div>
									</div>
									
								Delivery Information Ends
									<h3 class="panel-heading inner">
										Password
									</h3>
								Password Area Starts
									<div class="form-group required">
										<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" ng-model="userForm.password"  placeholder="Password">
										</div>
									</div>
									<div class="form-group required">
										<label for="inputRePassword" class="col-sm-3 control-label">Re-Password :</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" ng-model="userForm.rePassword"  placeholder="Re-Password">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="agreeCheck"> I have read and agreed on Conditions
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="submit" class="btn btn-warning" ng-disabled="!agreeCheck" data-ng-click="submit('checkout')">
												Register
											</button>
											<span us-spinner="{radius:38, width:13, length: 21,scale:0.20,left: '35%'}" spinner-key="spinner-signup"></span>
										</div>
									</div>
								Password Area Ends
								</form>
							Registration Form Starts
							</div>
							<div style="color:red">{{signUpFailMessage}}</div>							
						</div>
					Registration Block Ends
					</div>
					<div class="col-lg-2">
				</div>
			</div>
			
			<div class="row" ng-hide="guestUserCheckout">
	        <div class="col-lg-3" id="loginSignupUsers">
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=false;newUserCheckout=true;guestUserCheckout=true">
							<h3>Existing User</h3>
						    <p>Login</p>
						  </div>
						</div>
					</div>
			     </div>
	        	<div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body" ng-click="extUserCheckout=true;newUserCheckout=false;guestUserCheckout=true">
						    <h3>New User</h3>
						    <p>SignUp / Register</p>
						  </div>
						</div>
					</div>
			     </div>
			     <div class="row">
	        		<div class="col-lg-12">
		        		<div class="panel panel-default">
						  <div class="panel-body clickedUser" ng-click="extUserCheckout=true;newUserCheckout=true;guestUserCheckout=false">
						    <h3>Guest Checkout</h3>
						    <p>No Login/SignUp Required</p>
						  </div>
						</div>
					</div>
			     </div>
	        </div>
        	<div class="col-sm-7">
					Registration Block Starts
						<div class="panel panel-smart">
							
							<div class="panel-heading">
								<h3 class="panel-title">Guest Checkout</h3>
							</div>
							<div class="panel-body">
							Registration Form Starts
								<form name="userForm" class="form-horizontal" role="form">
								Personal Information Starts
									<div class="form-group required">
										<label for="inputFname" class="col-sm-3 control-label">Full Name :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.fullName"  placeholder="Full Name">
										</div>
									</div>
									
									
									
									
									<div class="form-group required">
										<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="userForm.mobileNo"  placeholder="Phone">
										</div>
									</div>
									
								
									
									<div class="form-group required">
										<label class="col-lg-3 control-label">Address</label>
										<div class="col-lg-9">
											<textarea class="form-control" rows="3" ng-model="userForm.address"></textarea>
											<span class="help-block">Include Flat No, Street, Area, City, Pin code and Landmark</span>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="agreeCheck"> I have read and agreed on Conditions
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="submit" class="btn btn-warning" ng-disabled="!agreeCheck" data-ng-click="guestCheckout()">
												Proceed
											</button>
										</div>
									</div>
								Password Area Ends
								</form>
							Registration Form Starts
							</div>
							<div style="color:red">{{guestCheckoutFailMessage}}</div>							
						</div>
					Registration Block Ends
					</div>
					<div class="col-lg-2">
				</div>
			</div>
	</div> -->
	<h2 id="forms">Please Login/Sign Up or choose Guest Checkout to complete your order !!!</h2>
	<div class="navLginSgnup">
	<ul class="nav nav-tabs">
	  <li class="active" ng-click="signinTab=false;signupTab=true;guestTab=true"><a data-toggle="tab" class="showPointer">Login (Existing User)</a></li>
	  <li ng-click="signinTab=true;signupTab=false;guestTab=true"><a data-toggle="tab" class="showPointer">SignUp (New User)</a></li>
	  <li ng-click="signinTab=true;signupTab=true;guestTab=false"><a data-toggle="tab" class="showPointer">Guest Checkout</a></li>
	</ul>
	</div>
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-smart" ng-hide="signinTab">
				<div class="panel-heading">
					<h3 class="panel-title">Existing User/ Login</h3>
				</div>
				
                <div class="msg-block" ng-show="myForm.$error">
				  <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">
				    Passwords don't match.
				  </span>
				</div>
				<div class="panel-body">
				
					<form class="form-horizontal" role="form">
					
						<div class="form-group required">
							<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="loginEmainId" placeholder="Email">
							</div>
						</div>
						<div class="form-group required">
							<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" ng-model="loginPassword" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-3">
								<button class="btn btn-success btn-sm" data-ng-click="login('checkout')">
									Login
								</button>
								<span us-spinner="{radius:38, width:13, length: 21,scale:0.20,left: '80%'}" spinner-key="spinner-login" class="ng-scope"></span>
							</div>
							<div class="col-sm-6">
								
								<a class="showPointer" data-ng-click="forgotPasswordOpen()">Forgot password?</a>
								
							</div>
							
						</div>
					
					</form>
				
				</div>
				<div style="color:red">{{loginFailMessage}}</div>						
			</div>
			
			<div class="panel panel-smart" ng-hide="signupTab">
				<div class="panel-heading">
					<h3 class="panel-title">New User / SignUp</h3>
				</div>
				<div class="panel-body">
				
					<form name="userForm" class="form-horizontal" role="form">
					
						<div class="form-group required">
							<label for="inputFname" class="col-sm-3 control-label">Full Name :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.fullName"  placeholder="Full Name">
							</div>
						</div>
						
						<div class="form-group required">
							<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.emailId"  placeholder="Email">
							</div>
						</div>
						
						
						<div class="form-group required">
							<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.mobileNo"  placeholder="Phone">
							</div>
						</div>
						<div class="form-group">
							<label for="inputFax" class="col-sm-3 control-label">Alternate No :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.alternateNo" placeholder="Alternate No">
							</div>
						</div>
					
						<h3 class="panel-heading inner">
							Delivery Information
						</h3>
					
						
						<div class="form-group required">
							<label class="col-lg-3 control-label">Address</label>
							<div class="col-lg-9">
								<textarea class="form-control" rows="3" ng-model="userForm.address"></textarea>
								<span class="help-block">Include Flat No, Street, Area, City, Pin code and Landmark</span>
							</div>
						</div>
						
					
						<h3 class="panel-heading inner">
							Password
						</h3>
					
						<div class="form-group required">
							<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" ng-model="userForm.password"  placeholder="Password">
							</div>
						</div>
						<div class="form-group required">
							<label for="inputRePassword" class="col-sm-3 control-label">Re-Password :</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" ng-model="userForm.rePassword"  placeholder="Re-Password">
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="agreeCheck"> I have read and agreed on Conditions
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-warning" ng-disabled="!agreeCheck" data-ng-click="submit('checkout')">
									Register
								</button>
								<span us-spinner="{radius:38, width:13, length: 21,scale:0.20,left: '35%'}" spinner-key="spinner-signup"></span>
							</div>
						</div>
				    </form>
				</div>
				<div style="color:red">{{signUpFailMessage}}</div>							
			</div>
			
			<div class="panel panel-smart" ng-hide="guestTab">
				<div class="panel-heading">
					<h3 class="panel-title">Guest Checkout</h3>
				</div>
				<div class="panel-body">
					<form name="userForm" class="form-horizontal" role="form">
					
						<div class="form-group required">
							<label for="inputFname" class="col-sm-3 control-label">Full Name :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.fullName"  placeholder="Full Name">
							</div>
						</div>
						<div class="form-group required">
							<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="userForm.mobileNo"  placeholder="Phone">
							</div>
						</div>
						<div class="form-group required">
							<label class="col-lg-3 control-label">Address</label>
							<div class="col-lg-9">
								<textarea class="form-control" rows="3" ng-model="userForm.address"></textarea>
								<span class="help-block">Include Flat No, Street, Area, City, Pin code and Landmark</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="agreeCheck"> I have read and agreed on Conditions
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-warning" ng-disabled="!agreeCheck" data-ng-click="guestCheckout()">
									Proceed
								</button>
							</div>
						</div>
					</form>
				</div>
				<div style="color:red">{{guestCheckoutFailMessage}}</div>							
			</div>
		</div>
	</div>
</div>