<div id="main-container" class="container">
	<div class="row">
		<div class="col-lg-2">
			<h3 class="side-heading">{{sideMenu.name}}</h3>
			<div class="list-group">
				<div data-ng-repeat="subMenu in sideMenu.sub">
					<div class="list-group-item">
						<label>{{subMenu.name}}</label>
					</div>
					<div class="list-group-item">
						<div class="showPointer" data-ng-repeat="superSubMenu in subMenu.supersub" ui-sref="searchItems({category:superSubMenu._id, menuObj:sideMenu})">
							{{superSubMenu.name}}
						</div>
					</div>
				</div>
			</div>
			<h3 class="side-heading">Brands</h3>
			<div class="list-group">
				<div class="list-group-item">
					<div class="filter-group">
						<div data-ng-repeat="brandObj in showBrandList | unique:'brand'">
							<label class="checkbox">
								<input type="checkbox" ng-model="brandName" ng-change="selectedBrand(brandObj.brand)"/>
								{{brandObj.brand}}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10">
		<!-- Breadcrumb Starts -->
			<ol class="breadcrumb">
				<li><a href="index.html">{{catName}}</a></li>
				<li><a href="index.html">{{subCatName}}</a></li>
				<li class="active">{{supSubCatName}}</li>
			</ol>
			<div class="row">
			<!-- Product #1 Starts -->
				<div class="item  col-xs-3 col-lg-3" data-ng-repeat="item in showItemList" ng-controller="ShowItemController">
            <div class="thumbnail">
             
                <img style="width:250px; height:200px" src="temp_upload/{{item.imageId}}" alt="" ng-click="expandItemFromSearch(item,sideMenu,'B2S')"/>
                <div class="caption">
                <h4 class="group inner list-group-item-heading" ng-click="expandItemFromSearch(item,sideMenu,'B2S')">{{item.name}}</h4>
               
                 <div class="row">
                      <div class="col-xs-12 col-md-7">
                         <h4 >{{amount.selected.Price}}  Rs.</h4>  
                      </div>
                     
                      <div class="col-xs-12 col-md-5">
                           <!-- <select  class="form-control input-sm" ng-change="onChangeAmount()">
                                                <option data-ng-repeat="amtPrice in item.amountprice">{{amtPrice.Amount}}</option>
                                     </select> -->
                                     <select class="form-control input-sm" ng-init="amount.selected=item.amountprice[0]"
                                          ng-model="amount.selected"
                                          ng-options="amtPrice.Amount for amtPrice in item.amountprice">
                                      </select>
                                     </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-2 col-sm-1">
                            <button class="btn btn-xs btn-warning">Description</button>
                      </div>
                      <div ng-hide="isSelected(amount.selected)">
                             <div class="col-lg-2 col-md-2 col-sm-1">
                               <p>Qty</p> 
                             </div>
                             <div class="col-lg-4 col-md-2 col-sm-1">
                                   <select class="form-control input-sm"
                                          ng-init="quantity.selected=quantityList[0]"
                                          ng-model="quantity.selected"
                                          ng-options="qnt.quantity for qnt in quantityList">
                                   </select>
                             </div>
                      </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-md-6" ng-hide="isSelected(amount.selected)">
                                           <button class="btn btn-xs btn-success add-to-cart" data-ng-click="addToCart(amount.selected,quantity.selected,item)">Add to Cart</button>
                                           
                      </div>
                      <div class="input-group"  ng-show="isSelected(amount.selected)">
                                     <span class="input-group-btn">
                                         <button type="button" class="btn btn-sm btn-warning btn-number" data-ng-click="counterMinus()"  data-type="minus" data-field="quant[2]">
                                           <span class="glyphicon glyphicon-minus"></span>
                                         </button>
                                     </span>
                                    <input type="text" name="quant[2]" class="form-control input-sm input-number" ng-model="qnt" ng-init="initQnt()" min="1" max="100">
                                   
                                     <span class="input-group-btn">
                                         <button type="button" class="btn btn-sm btn-success btn-number" data-ng-click="counterPlus()" data-type="plus" data-field="quant[2]">
                                             <span class="glyphicon glyphicon-plus"></span>
                                         </button>
                                     </span>
                                 </div>
                  </div>
                </div>
            </div>
        </div>
			</div>
		</div>
	</div>
</div>
	