<!-- <div class="container" ng-controller="UserController">
	<div class=" col-lg-2 list-group-info">
       <div class="row">
     		<a class="side-heading">Categories</a>
     		<a ng-click="orderHistory()" class="list-group-item">Order History</a>
     		<a ng-click="personalInfo()" class="list-group-item">Personal Information</a>
     		<a ng-click="expenseChart()" class="list-group-item">Expense Charts</a>
  		</div>
    </div>
	<div class=" col-lg-10">
		<div class="row">
			<div class="col-lg-12">
				<div ui-view>
				</div>
			</div>
		</div>		
	</div>
 </div> -->
 
 
 <div class="container" ng-controller="UserController">
	<div class="row">
		<div class="col-lg-2">
			<h3 class="side-heading">Categories</h3>
			<div class="list-group">
				
					<div class="list-group-item">
						<label class="showPointer" ng-click="orderHistory()">Order History</label>
					</div>
					<div class="list-group-item">
						<label class="showPointer" ng-click="personalInfo()">Personal Information</label>
					</div>
					<div class="list-group-item">
						<label class="showPointer" ng-click="expenseChart()">Expense Charts</label>
					</div>
			</div>
		</div>
		<div class=" col-lg-10">
			<div class="row">
				<div class="col-lg-12">
					<div ui-view>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>