<div><h3>Order History</h3></div>
<div ng-hide="noDataFound">
<div class="row">
	
	<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th class="col-md-4">Order Id</th>
      <th class="col-md-3">Date</th>
      <th class="col-md-3">Time</th>
      <th class="col-md-2">Total Amount</th>
      
     </tr>
  </thead>
  <tbody>
  	 <tr class="active" data-ng-repeat="order in orderlist">
  		
  		<td class="col-md-3">{{order._id}}</td>
  		<td class="col-md-2">{{order.date|date:"dd/MM/yyyy" }}</td>
  		<td class="col-md-3">{{order.date|date:"h:mm a"}}</td>
		<td class="col-md-3">{{order.grandTotal}}</td>
	</tr> 
</tbody>
</table> 
	
</div>
<div class="row">
	<div class="col-lg-10 pull right">
	  	<h5 class="pull-right" ng-hide="hideToFrom">{{fromOrderNo}} - {{toOrderNo}} of {{totalRecords}}</h5>
	</div>
	<div class="col-lg-2">
		<a href="" ng-click="previousPage()" ng-disabled="disablePrevButton" class="btn btn-default btn-sm">Previous</a>
		<a href="" ng-click="nextPage()" ng-disabled="disableNextButton" class="btn btn-default btn-sm">Next</a>
	</div>
</div>
</div>
<div ng-show="noDataFound">
<span>No Order History Found !!!</span>
</div>