
			<section class="registration-area">
				<div class="row">
					<div class="col-sm-8">
					<!-- Registration Block Starts -->
						<div class="panel panel-smart">
							<div class="panel-heading">
								<h3 class="panel-title">Personal Information</h3>
								<button class="btn btn-primary btn-xs" ng-disabled="editInfolink" ng-click="editInformation()">Edit Information</a>
								
							</div>
							<div class="panel-body">
							<!-- Registration Form Starts -->
								<form name="userForm" class="form-horizontal" role="form">
								<!-- Personal Information Starts -->
									<div class="form-group required">
										<label for="inputFname" class="col-sm-3 control-label">Full Name :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="user.fullName" ng-disabled="!fullNameEnable"  placeholder="Full Name">
										</div>
									</div>
									
									<div class="form-group required">
										<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="user.emailId" ng-disabled="!emailIdEnable"  placeholder="Email">
										</div>
									</div>
									
									<div class="form-group required">
										<label for="inputPassword" class="col-sm-3 control-label">Password :</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" ng-disabled="!passwordEnable" ng-model="user.password"  placeholder="Password">
										</div>
									</div>
									
									<div class="form-group required">
										<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="user.mobileNo" ng-disabled="!mobileNoEnable"  placeholder="Phone">
										</div>
									</div>
									<div class="form-group">
										<label for="inputFax" class="col-sm-3 control-label">Alternate No :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="user.alternateNo" ng-disabled="!alternateNoEnable" placeholder="Alternate No">
										</div>
									</div>
								<!-- Personal Information Ends -->
									<h3 class="panel-heading inner">
										Delivery Information
									</h3>
								<!-- Delivery Information Starts -->
									
									<div class="form-group required">
										<label class="col-lg-3 control-label">Address</label>
										<div class="col-lg-9">
											<textarea class="form-control" rows="3" ng-disabled="!addressEnable" ng-model="user.address"></textarea>
											<span class="help-block">Include Flat No, Street, Area, City, Pin code and Landmark</span>
										</div>
									</div>
									
								<!-- Delivery Information Ends -->
									
									<div class="form-group" ng-hide="!hideSaveCancel">
										<div class="col-sm-offset-3 col-sm-9">
											<button class="btn btn-success" data-ng-click="save()">
												Save
											</button>
											<button class="btn btn-warning" data-ng-click="cancel()">
												Cancel
											</button>
										</div>
										
									</div>
								<!-- Password Area Ends -->
								</form>
							<!-- Registration Form Starts -->
							</div>
							<div style="color:red">{{editUserFailMessage}}</div>
							<div style="color:green">{{editUserPassMessage}}</div>							
						</div>
					<!-- Registration Block Ends -->
					</div>
					
				</div>
			</section>
		<!-- Registration Section Ends -->
		