<div class="bs-docs-section">
       <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>Edit Item</legend>
                  
				<div class="col-lg-12">				  
				  <div class="form-group">
                    <label for="category" class="col-lg-2 control-label">Category</label>
                    
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="cat"  ng-model="category2" disabled="" >
                    </div>
                  </div>
				</div>
				
				<div class="col-lg-12" ng-hide="true">				  
				  <div class="form-group">
                    <label for="category" class="col-lg-2 control-label">Item Id</label>
                    
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="itemId" ng-model="editItemRowId" disabled="" >
                    </div>
                  </div>
				</div>
				
				<div class="col-lg-8">
                  <div class="form-group required">
                    <label for="itemName" class="col-lg-3 control-label">Item Name</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="itemName" placeholder="Item Name" ng-model="itemNameEdit">
                    </div>
                  </div>
                  
                   <div class="form-group required">
                    <label for="brand" class="col-lg-3 control-label">Brand</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="brand" placeholder="Brand" ng-model="brandEdit">
                    </div>
                  </div>
                  
                   <div class="form-group">
                    <label for="otherNames" class="col-lg-3 control-label">Other Names</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="otherNames" placeholder="Other Names" ng-model="othernamesEdit">
                    </div>
                  </div>
                  
				  <div class="form-group required">
					<label class="col-lg-3 control-label">Availability</label>
					<div class="col-lg-9">
					  <div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="yes" ng-model="availabilityEdit">
						  Available
						</label>
					  </div>
					  <div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="no" ng-model="availabilityEdit">
						  Out of Stock
						</label>
					  </div>
					</div>
				  </div>
				</div>
				
				<div class="col-lg-4">
					<div class="container">
						<div class="fileinput fileinput-exists container" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 180px; height: 200px;">
					<!--<img class="group list-group-image" ng-model="existingImg" src="https://res.cloudinary.com/dylc7fren/image/upload/v1442516903/{{imageIdEdit}}"alt="" /> -->
						<img class="group list-group-image" ng-model="existingImg" src="https://s3-ap-southeast-1.amazonaws.com/ecart-image-bucket/{{imageIdEdit}}"alt="" />
						
						</div>
						
						<div>
							<span class="btn btn-warning  btn-xs btn-file">
								
								<span>Change</span>
									<input type="file" name="file" file-model="newImg">
								</span>
							<!-- <a href="#" class="btn btn-warning btn-xs fileinput-exists" data-dismiss="fileinput">Remove</a> -->
						</div> 
						</div>
					</div> 
			    </div>
				
				<div class="col-lg-12">				
                  <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" id="description" ng-model="descriptionEdit"></textarea>
                    </div>
                  </div>
				</div>
                
				<div class="col-lg-12">
					<div class="form-group required">
					<label class="col-lg-2 control-label">Is Offer?</label>
					<div class="col-lg-10">
					  <div class="radio">
						<label>
						  <input type="radio" name="isOfferRadio" id="isOfferRadioId" value="yes" ng-model="isOfferCheckEdit" ng-change='offerRadioChangeEdit(isOfferCheckEdit)'>
						  Yes
						</label>
					  </div>
					  <div class="radio">
						<label>
						  <input type="radio" name="isOfferRadio" id="isOfferRadioId" value="no" ng-model="isOfferCheckEdit" ng-change='offerRadioChangeEdit(isOfferCheckEdit)'>
						  No
						</label>
					  </div>
					</div>
					</div>
				</div>				
				    
				<div class="row">
				  <div class="col-lg-12">
				  
				  <div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">Amount / Price</h3>
				  </div>
				  <div class="panel-body">
				  <table class="table table-bordered table-hover " id="amtPriceTableId" ng-if="!showOfferTableEdit">
						<thead>
							<tr>
								<th class="col-lg-4">Amount</th>
								<th class="col-lg-4">Price</th>
								<th class="col-lg-3">Availability</th>
								<th class="col-lg-1"></th>
							</tr>
						</thead> 
						<tbody>
						  <tr ng-repeat="row in amountPriceRowEdit">
							<td><input class="form-control input-sm" type="text" ng-model="row.Amount"></td>
							<td><input class="form-control input-sm" type="text" ng-model="row.Price"></td>
							<td><select class="form-control input-sm" ng-model="row.Availability"><option>Available</option><option>Not Available</option></select></td>
							<td><button type="button" title="Remove this row" ng-click="deleteAmountPriceRowEdit($index)">X</button></td>
						  </tr>
						</tbody>
					</table>
					
					<table class="table table-bordered table-hover " id="amtPriceTableIdOffer" ng-if="showOfferTableEdit">
						  	<thead>
								<tr>
									<th class="col-lg-2">Is Offer</th>
									<th class="col-lg-2">Amount</th>
									<th class="col-lg-2">Price</th>
									<th class="col-lg-2">Offer Price</th>
									<th class="col-lg-3">Availability</th>
									<th class="col-lg-1"></th>
								</tr>
							</thead> 
							<tbody>
							  <tr ng-repeat="row in amountPriceRowEdit">
							  	<td><input type="checkbox" ng-checked="row.OfferCheck" ng-model="row.OfferCheck"></td>
							    <td><input class="form-control input-sm" type="text" ng-model="row.Amount"></td>
								<td><input class="form-control input-sm" type="text" ng-model="row.Price"></td>
								<td ng-if="row.OfferCheck"><input class="form-control input-sm" type="text"  ng-model="row.OfferPrice" ng-disabled="!row.OfferCheck"></td>
							    <td ng-if="!row.OfferCheck"><input class="form-control input-sm" type="text" ng-model="noOfferPrice" ng-disabled="!row.OfferCheck"></td>
								<td><select class="form-control input-sm" ng-model="row.Availability"><option>Available</option><option>Not Available</option></select></td>
								<td><button type="button" title="Remove this row" ng-click="deleteAmountPriceRowEdit($index)">X</button></td>
							  </tr>
							</tbody>
					</table> 
				  
				  
				 <div class="container">
					<a href=""  data-ng-click="addAmountPriceRowEdit()">Add Amount/Price</a>
				</div>
				</div>
				  </div>
				  </div>
				  
				  <div class="col-lg-4">
					
				  </div>
				</div>
					
					<div class="form-group">
                      <div class="col-lg-2 col-lg-offset-1">
                     	<button class="btn btn-success" ng-disabled="submitButtonValEdit" data-ng-click="editItem(editItemRowId,itemNameEdit, brandEdit, othernamesEdit, availabilityEdit, imageIdEdit,newImg, descriptionEdit, isOfferCheckEdit)">Update Item</button>
                     	
                      </div>
                      <div class="col-lg-2">
                     	<button class="btn btn-danger" ng-disabled="removeButtonValEdit" data-ng-click="removeItem(editItemRowId,imageIdEdit)">Remove Item</button>
                      </div>
                       <div class="col-lg-7 paddingBottom">
                       	<span us-spinner="{radius:38, width:13,length: 21,scale:0.20,left:'1%'}" spinner-key="spinner-editItem" class="ng-scope"></span>
                     	<div style="color:red">{{editItemFailMessage}}</div>
                      </div>
                   </div>
                </fieldset>
              </form>
      		 </div>
            </div>
          </div>
	</div>
