<div ng-controller="ItemController">
	
	<div class="row">
		<div class="col-lg-2">
			<div class="btn" >
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="">
                Select Menu <span class="caret"></span>
            </a>
           
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" >
              <li class="dropdown-submenu" data-ng-repeat="oneMenu in menulist">
              	<a href="" ng-mouseover="hoverInLevelZero(oneMenu);">{{oneMenu.name}}</a>
              	 <ul class="dropdown-menu">
                  <li class="dropdown-submenu" data-ng-repeat="submenu in oneMenu.sub">
					<a href="" ng-mouseover="hoverInLevelOne(submenu);">{{submenu.name}}</a>
						<ul class="dropdown-menu">
                 		 	<li data-ng-repeat="supersubmenu in submenu.supersub">
								<a href="" ng-click="searchItemsFn(supersubmenu)">{{supersubmenu.name}}</a>
				  			</li>
                 		</ul>
				  </li>
                 
                </ul>
              </li>
            </ul>
            </div>
        </div>
		
		<div class="col-lg-4">
		  <div style="margin-top: 10px;">
				<div class="input-group input-group-md">
				  <input type="text" class="form-control" placeholder="Global Item Search" ng-model="keyword">
				  <span class="input-group-addon" ng-click="searchItemByKeyword(keyword)">Search</span>
				</div>
			</div>
		
		</div>
		
		<div class="col-lg-2">
			<div style="margin-top: 10px;" >
				<select class="form-control input-md" 
					ng-init="searchCriteria=searchCriteriaList[0]"
	                ng-model="searchCriteria"
	                ng-disabled="disableCriteriaSelect"
	                ng-options="searchCriteriaListObj.criteria for searchCriteriaListObj in searchCriteriaList"
	                ng-change="selectedSearchCriteria(searchCriteria)">
	        	</select>
        	</div>	
		</div>
		
		<div class="col-lg-2">
			<div style="margin-top: 10px;">
				<select class="form-control input-md" 
					ng-init="showCriteria=showItemList[0]"
	                ng-model="showCriteria"
	                ng-disabled="disableShowItemSelect"
	                ng-options="showItemListObj.itemPerPage for showItemListObj in showItemList"
	                ng-change="showItemCriteria(showCriteria)">
	        	</select>
        	</div>
		</div>
		
		<div class="col-lg-2">
			<a href="" class="btn btn-primary btn-success pull-right" style="margin-top: 10px;" ng-disabled="addItemButtonVal" ng-click="clickToOpen();">Add Item</a>
		</div>
       
	</div>
	<div class="row">
		<div class="col-lg-12">{{category}}</div>
	</div>

<div ng-hide="noDataFound">
<div class="row">
<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th class="col-md-1">Image</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Brand</th>
      <th class="col-md-1">Amount/Price</th>
      <th class="col-md-2">Availablity</th>
      <th class="col-md-2">Other Names</th>
      <th class="col-md-2">Description</th>
      
     
    </tr>
  </thead>
  <tbody>
  
  	<tr class="active" data-ng-repeat="item in itemList">
  		<td class="col-md-1" ng-click="editItemOpenPopUp(item)">
          <img height="50" width="50" src="temp_upload/{{item.imageId}}" />
        </td>
		<td class="col-md-2" ng-click="editItemOpenPopUp(item)">{{item.name}}</td>
		<td class="col-md-2" ng-click="editItemOpenPopUp(item)">{{item.brand}}</td>
		<td class="col-md-1"><div class="dropdown">
              <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-sm" data-target="#" href="">Amount/Price <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li data-ng-repeat="amtprice in item.amountprice"><a href="#">{{amtprice.Amount}} - {{amtprice.Price}}Rs || {{amtprice.Availability}}</a></li>
              </ul>
             </div>
        </td>
        <td class="col-md-2" ng-click="editItemOpenPopUp(item)">{{item.availability}}</td>
		<td class="col-md-2" ng-click="editItemOpenPopUp(item)">{{item.othernames}}</td>
		<td class="col-md-2" ng-click="editItemOpenPopUp(item)">{{item.description}}</td>
		
	</tr> 
  </tbody>
</table> 
</div>
<div class="row">
	<div class="col-lg-10 pull right">
	  	<h5 class="pull-right" ng-hide="hideToFrom">{{fromOrderNo}} - {{toOrderNo}} of {{totalRecords}}</h5>
	</div>
	<div class="col-lg-2">
		<a href="" ng-click="previousPage()" ng-disabled="disablePrevButton" class="btn btn-default btn-sm">Previous</a>
		<a href="" ng-click="nextPage()" ng-disabled="disableNextButton" class="btn btn-default btn-sm">Next</a>
	</div>
</div>
</div>
<div ng-show="noDataFound">
<span>No Item Found !!!</span>
</div>
</div>
