<div ng-controller="RegisteredUsersController">
<div ng-hide="noDataFound">
<div class="row">
	<div class="col-lg-2">
		<h4>Registered Users</h4>	
	</div>
	<div class="col-lg-5" style="margin-top: 10px;">
		<div class="input-group input-group-md">
		  <input type="text" class="form-control" placeholder="Search by Customer Name or Contact No or Email Id" ng-model="keyword">
		  <span class="input-group-addon" ng-click="searchUserByKeyword(keyword)">Search</span>
		</div>	
	</div>
	<div class="col-lg-3" style="margin-top: 10px;">
			
	</div>
	<div class="col-lg-2">
		<div style="margin-top: 10px;">
			<select class="form-control input-md" 
				    ng-init="showCriteria=showItemList[0]"
	                ng-model="showCriteria"
	                ng-options="showItemListObj.itemPerPage for showItemListObj in showItemList"
	                ng-change="showItemCriteria(showCriteria)">
	       	</select>
        </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-bordered table-hover ">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Email Id</th>
					<th>Mobile No</th>
					<th>Alternate No</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
 
				<tr class="active" data-ng-repeat="user in userlist">
				<td>{{user.fullName}}</td>
				<td>{{user.emailId}}</td>
				<td>{{user.mobileNo}}</td>
				<td>{{user.alternateNo}}</td>
				<td>{{user.address}}</td>
				</tr>
   	
			</tbody>
		</table> 
	</div>	
</div>

<div class="row">
	<div class="col-lg-10 pull right">
	  <h5 class="pull-right" ng-hide="hideToFrom">{{fromOrderNo}} - {{toOrderNo}} of {{totalRecords}}</h5>
	</div>
	<div class="col-lg-2">
	<a href="" ng-click="previousPage()" ng-disabled="disablePrevButton" class="btn btn-default btn-sm">Previous</a>
	<a href="" ng-click="nextPage()" ng-disabled="disableNextButton" class="btn btn-default btn-sm">Next</a>
	</div>
</div>
</div>
<div ng-show="noDataFound">
	<div class="row">
	<div class="jumbotron">
	   	<i class="fa fa-ban fa-3x"></i>
		<h4 class="hidden-sm hidden-xs">No User Found !!!</h4>
	</div>
	</div>
</div>
</div>







