<div class="row">
<h4>Review Order</h4>
	<div class="col-lg-12">
			
	<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Customer Information</h3>
	</div>
	<div class="panel-body">
	<div class="controls">
	<div class="row">
   		<div class="col-lg-4">
   		<p class="form-control-static"><b>Full Name: </b>{{showOrderList.fullName}}</p>
   		<p class="form-control-static"><b>Email: </b>{{showOrderList.emailId}}</p>
   		</div>
   		<div class="col-lg-4">
   		 <p class="form-control-static"><b>Mobile Number: </b>{{showOrderList.mobileNo}}</p>
   		 <p class="form-control-static"><b>Alternate Number: </b>{{showOrderList.alternateNo}}</p>
   		</div>
   		<div class="col-lg-4">
   		<p class="form-control-static"><b>Delivery Address: </b></p>
   		 <p class="form-control-static">{{showOrderList.address}}</p>
   		</div>
  		
	</div>

	</div>
	</div>
				
	
	</div>
	
	
	<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Order Summary</h3>
	</div>
	<div class="panel-body">
	

		<table class="table table-hover ">
			<thead>
				<tr>
					<th class="col-md-5">Item</th>
					<th class="col-md-2">Amount</th>
					<th class="col-md-2">No. of Item</th>
					<th class="col-md-3">Price (Rs)</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="order in showOrderList.order">
					<td>{{order.itemName}} ({{order.brand}})</td>
					<td>{{order.amount}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.totalPrice}}</td>
				</tr>

			</tbody>
			<tr>
				<th></th>
				<th></th>
				<th>Grand Total</th>
				<th>{{showOrderList.grandTotal}} Rs</th>
			</tr>
		</table>
		<div class="col-xs-9 col-md-9">
			
		</div>
		
	
	</div>
				
	
	</div>
	
</div>